#telaLogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(57, 22, 138);
    opacity: 0.7;
}
#fundo{
    background-color: rgb(12, 5, 27);
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}